force-app/main/default/flows/Get_associated_contacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Store_Associated_contacts</name>
        <label>Store Associated contacts</label>
        <locationX>1021</locationX>
        <locationY>366</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Account.No_of_associated_contacts__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>total_no_of_associated_contacts</name>
        <label>total no. of associated contacts</label>
        <locationX>664</locationX>
        <locationY>366</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_number_of_contacts</targetReference>
        </connector>
    </assignments>
    <description>Flow to get number of associated contacts to account</description>
    <interviewLabel>Get associated contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get associated contacts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Getting all the contacts</description>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>496</locationX>
        <locationY>366</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>total_no_of_associated_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_number_of_contacts</name>
        <label>update number of contacts</label>
        <locationX>838</locationX>
        <locationY>366</locationY>
        <connector>
            <targetReference>Store_Associated_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>No_of_associated_contacts__c</field>
            <value>
                <elementReference>Count</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>371</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
