force-app/main/default/flows/Ticket_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <dynamicChoiceSets>
        <name>From</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>From__c</picklistField>
        <picklistObject>Ticket_2__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>To</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>To__c</picklistField>
        <picklistObject>Ticket_2__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <interviewLabel>Ticket Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ticket Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Ticket_Creation</name>
        <label>Ticket Creation</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <inputAssignments>
            <field>From__c</field>
            <value>
                <elementReference>DepartureFrom</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>To__c</field>
            <value>
                <elementReference>ArrivalTo</elementReference>
            </value>
        </inputAssignments>
        <object>Ticket_2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Create_Ticket</name>
        <label>Create Ticket</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Ticket_Creation</targetReference>
        </connector>
        <fields>
            <name>DepartureFrom</name>
            <choiceReferences>From</choiceReferences>
            <dataType>String</dataType>
            <fieldText>From</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ArrivalTo</name>
            <choiceReferences>To</choiceReferences>
            <dataType>String</dataType>
            <fieldText>To</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Ticket</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
